@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

body {
  text-align: center;
  transition: 0.3s;
  margin: 6px;
  padding: 6px;
  background-color: rgb(244, 241, 241);
  font-family: 'Poppins', sans-serif;
  color:rgb(57, 57, 57);

}

h1 {
  text-align: center;
  font-size: 70px;
  line-height: 70px;
  font-weight: 300;
  margin: 10px 0;
}

h2 {
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  font-weight: 300;
  margin: 50px 0 10px 0;
}

p {
  text-align: center;
  margin: 0px;
  font-size: 20px;
}

a {
  text-align: center;
  color:rgb(0,255,0);
  font-size: 20px;
  text-decoration: none;
  font-weight: 440;
}

.dark a {
  color:rgb(0,255,0);
}

header {
  text-align: center;
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}

.switch {
  width: 100px;
  height: 50px;
  border-radius: 25px;
  background-color: rgb(39, 38, 38);
  position: relative;
}

.flicker {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 5px;
  left: 5px;
  transition: 0.3s;
  box-shadow:
    inset 4px 4px 4px rgb(255,255,255),
    inset -7px -7px 5px rgb(195 193 198 / 90%);
}

.dark {
  background-color: rgb(57, 57, 57);
  transition: 0.3s;
}

.dark .flicker {
  transform: translateX(50px);
}

.dark > * {
 color:rgb(255, 255, 255);
}

.main {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.main-text {
  padding: 30px;
  margin-bottom: 100px;
}

.main-textTipsPage {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 100px;
  width: 95%
}

.square {
  border-radius: 90px;
  width: 90%;
  margin: 10%;
  height: 300px;
  background-color: rgb(255, 255, 255);
  text-align: center;
}

.dark .square {
  background-color: rgb(71, 71, 71);
}

.sub-section {
  display: flex;
  flex-wrap: wrap;
}

#html {
  left: 100px;
  bottom: 90px;
  background-size: cover;
  background-color: rgb(175, 119, 227);
  box-shadow: -60px 60px 20px rgb(50 50 50/ 15%);
}

#html:before {
  background-color: rgb(189, 154, 221);
}

#html:after {
  background-color: rgb(0, 188, 221);
}

#css {
  left: 250px;
  bottom: 240px;
  background-size: cover;
  background-color: rgb(0, 119, 191);
  box-shadow: -100px 100px 20px rgb(50 50 50/ 30%);
}

#css:before {
  background-color: rgb(221, 154, 207);
}

#css:after {
  background-color: rgb(221, 188, 211);
}

#javascript {
  left: 450px;
  bottom: 200px;
  background-size: cover;
  background-color: rgb(119, 227, 186);
  box-shadow: -40px 40px 20px rgb(50 50 50/ 15%);
}

#javascript:before {
  background-color: rgb(154, 221, 202);
}

#javascript:after {
  background-color: rgb(188, 221, 212);
}


#react {
  left: 350px;
  bottom: 40px;
  background-size: cover;
  background-color: rgb(119, 193, 227);
  box-shadow: -80px 80px 20px rgb(50 50 50/ 15%);
}

#react:before {
  background-color: rgb(154, 189, 221);
}

#react:after {
  background-color: rgb(188, 200, 221);
}

hr {
    border: none;
    border-top: 3px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}

hr:after {
    background: #fff;
    padding: 0 4px;
    position: relative;
    top: -13px;
}

footer {
    display: flex;
    justify-content: center;
    padding: 100px 20px;
    background-color:rgb(155, 155, 155);
    border-radius: 90px;
}

.dark footer {
  background-color:rgb(20, 20, 20);
  border-radius: 90px;
}

@media only screen and (min-width: 970px) {
  .main-text {
    width: 50%;
  }

  .square {
    width: 48%;
    margin: 1%;
    height: 350px;
  }
}